// Colors
$colorprimary: #FD7401;
$colorsecondary: #F1F3F6;
$colorwhite: #ffffff;
$colorgray: #C2C2C2;
$colorgraydark: #555555;
$colorred: red;

// Size
$tabletlarge: 992px;
$tablet: 768px;
$smartphone: 576px;